#log {
    border: thin solid grey;
}

figure {
    border: thin solid grey;
    margin: 1ex 0;
}

figure canvas {
    box-sizing: border-box;
    width:100%;
    height: 150px;
}

figcaption {
  background-color: black;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align: center;
}
